<h2>Categories</h2>

<%= link_to 'Create a new category', new_category_path %>

<ol>
<% @categories.each do |category| %>
	<li><%= link_to category.name, edit_category_path(category) %> (<%= link_to 'delete', category_path(category), :method => :delete %>)</li>
<% end %>
<ol>